<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178176338866-vj86g7o6jkkbs3su6mgturh632o4veij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178176338866-vj86g7o6jkkbs3su6mgturh632o4veij</string>
	<key>API_KEY</key>
	<string>AIzaSyCc7KNB3hTyjZstjflnzc02kzMifkr-A24</string>
	<key>GCM_SENDER_ID</key>
	<string>178176338866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deguffroy.adrien.flutterChatFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-3bea7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-3bea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178176338866:ios:b0077b0e2179fcc5d212ab</string>
	<key>DATABASE_URL</key>
	<string>https://flutterchat-3bea7.firebaseio.com</string>
</dict>
</plist>